.DS_Store
.env
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

apps/web/node_modules/
apps/web/.next/
apps/web/.git/

apps/api/.venv/
apps/api/.env

postgres_data/

# api_pusher
api_pusher.log
sales.csv
campaign_product.csv
